@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
* {
    font-family: 'Montserrat', sans-serif;
}

.main {
    overflow: hidden; width: 100vw; height: 100vh;

    /* max-height: 600px; */
    background-image:
            url('https://media.giphy.com/media/26ueZpUDQNmZKX6iA/giphy.gif ');

    background-repeat: inherit;
    background-position:
            0 20%,
            0 100%,
            0 50%,
            0 100%,
            0 0;
    background-size:
            2500px,
            800px,
            500px 200px,
            1000px,
            400px 260px;
    /* animation: 50s para infinite linear;  */
}

@keyframes para {
    100% {
        background-position:
                -5000px 20%,
                -800px 95%,
                500px 50%,
                1000px 100%,
                400px 0;
    }
}

.main > header {
    padding: 3%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
}

.main > footer {
    padding: 3%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
}

.main-page {
    align-content: center;
    background-color: rgba(0, 0, 0, 0.3);
    /*background-image:url('https://media.giphy.com/media/26ueZpUDQNmZKX6iA/giphy.mp4');*/
    /*background-repeat:repeat;*/
    width: 100%;
    height: 80vh;
    /*z-index: -1;*/
}


.logo-animation img {
    height: 100%;
    object-fit: contain;
}

.container-4{
    padding: 5% 10%;
    margin: auto;
    display: flex;
    gap: 10em;
    justify-content: left;
}


.buttons-div {
    margin: auto;
    display: flex;
    gap: 3em;
    justify-content: right;
}

.title-2 {
    font-size: 6em;
    color: white;
    text-transform: uppercase;
}

h1, p, h2, h3, span {
    margin: 0;
}
/*Reference: https://getcssscan.com/css-buttons-examples*/

.btn-11 {
   padding: 0.6em 2em;
   border: none;
   outline: none;
   color: rgb(255, 255, 255);
   background: #000000;
   cursor: pointer;
   position: relative;
   z-index: 0;
   border-radius: 10px;
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
   width: 14em;
    height: 5em;
}

.btn-11:before {
    content: "";
    background: linear-gradient(
            45deg,
            rgba(255, 0, 0, 0.25),
            rgba(255, 115, 0, 0.25),
            rgba(255, 251, 0, 0.25),
            rgba(72, 255, 0, 0.25),
            rgba(0, 255, 213, 0.25),
            rgba(0, 43, 255, 0.25),
            rgba(122, 0, 255, 0.25),
            rgba(255, 0, 200, 0.25),
            rgba(255, 0, 0, 0.25)
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-button-85 {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.btn-11:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(10, 10, 10);
    left: 0;
    top: 0;
    border-radius: 10px;
}


.welcome {
    color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: white;
}

.text {
    font-size: 1.8em;
}