@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
* {
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Montserrat',sans-serif;
}
.update-card {
    /*align-items: center;*/
    font-size: 14px;
    font-weight: 400;
    height: 100vh;
    justify-items: center;
    overflow-x: hidden;
    width: 100vw;
    /* background-color: rgb(210, 30, 30); */
    background-image: url(https://images.unsplash.com/photo-1580261450046-d0a30080dc9b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1009&q=80);
    text-align: center;
    /*z-index: 1;*/
    /*background-color: #ffa400;*/
}

.update-card > header {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    text-align: right;
    background-color: rgb(0, 0, 0);
    padding: 1.5%;
    gap: 10%;
}

.update-card footer {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    padding: 3%;
    bottom: 0%;
    text-align: center;
    background-color: rgb(0, 0, 0);
}

.update-card .navbar a {
    color: white;
    font-size: 23px;
}

.update-card .website-logo {
    display: flex;
    flex-direction: row;
    justify-content: left;
    position: relative;
    width: 15%;
    height: 0.3%;
}
.update-card header .user-btn {
    border: none;
    width: 4rem;
    border-radius: 50%;
    height: 30%;
    /*margin-right: 10px;*/
    outline: none;
}

/* .update-card .user-btn {
    width: 80%;
    background: red;
    cursor: pointer;
    margin-top: 40%;
} */

.update-card .fa-user, .fa-right-from-bracket {
    color: rgb(255, 255, 255);
    font-size: 25px;
}

.update-card .user-logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    left: -2%;
    gap: 2em;

}

.update-card .main-btn {
    display: flex;
    flex-direction: row;
    margin-left: 2%;
    gap: 3em;
    width: 100%;
}

.update-card .main-btn .btn-99 {
    font-size: 2rem;
}

.update-card .user-btn:hover {
    /*user-focus-pointer: ;*/
}

.update-card footer h3 {
    color: white;
    margin: 0;

}

/*.update-card {*/
/*    !*align-items: center;*!*/
/*    font-size: 14px;*/
/*    font-weight: 400;*/
/*    height: 100vh;*/
/*    overflow: hidden;*/
/*    justify-items: center;*/
/*    width: 100vw;*/
/*    !* background-color: rgb(210, 30, 30); *!*/
/*    background-image: url(https://images.unsplash.com/photo-1580261450046-d0a30080dc9b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1009&q=80);*/
/*    text-align: center;*/
/*}*/

/*.update-card > header {*/
/*    top: 0%;*/
/*    padding: 3%;*/
/*    text-align: center;*/
/*    background-color: rgb(0, 0, 0);*/
/*}*/

/*.update-card > footer {*/
/*    padding: 4%;*/
/*    position: relative;*/
/*    text-align: center;*/
/*    bottom: 0%;*/
/*    background-color: rgb(0, 0, 0);*/
/*}*/

/*.update-card > footer h3 {*/
/*    color: white;*/
/*    margin: 0;*/
/*}*/

.update-card  h1 {
    font-weight: bold;
    margin: 0;
}

.update-card  h2 {
    text-align: center;
}

.update-card  p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    /*letter-spacing: 0.5px;*/
    margin: 20px 0 30px;
}

.update-card span {
    font-size: 12px;
}

.update-card a {
    color: rgb(255, 255, 255);
    font-size: 14px;
    text-decoration: none;
    margin: 2% 0;
}

.update-card .add-btn {
    border-radius: 20px;
    border: 1px solid #FF4B2B;
    background-color: #FF4B2B;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px; 
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor: pointer;
}

.add-btn:active {
    transform: scale(0.95);
}

.add-btn:focus {
    outline: none;
}

.add-btn.ghost {
    background-color: transparent;
    border-color: #FFFFFF;
}

.update-card form {
    background-color: rgba(0, 0, 0, 0.543);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

.update-card input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}
.update-card select{
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%; 
}


.update-card .container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    top: 8%;
    /* overflow: hidden; */
    width: 70%;
    height: 80%;
}

.update-card .container {
    background-color: black;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(255, 255, 255, 0.25),
    0 10px 10px rgba(255, 255, 255, 0.22);

    /*max-width: 100%;*/

    /*min-height: 480px;*/
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
}

.container.right-panel-active .sign-in-container {
    transform: translateX(100%);
}

/*.sign-up-container {*/
/*    left: 0;*/
/*    width: 50%;*/
/*    opacity: 0;*/
/*    z-index: 1;*/
/*}*/

.container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
}

@keyframes show {
    0%, 49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%, 100% {
        opacity: 1;
        z-index: 5;
    }
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}



.container .right-panel-active .overlay-container{
    transform: translateX(-100%);
}

.overlay {
    background: #FF416C;
    background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
    background: linear-gradient(to right, #FF4B2B, #FF416C);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #FFFFFF;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.container .right-panel-active .overlay {
    transform: translateX(50%);
}

.overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /*padding: 0 40px;*/
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-left {
    transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
    transform: translateX(0);
}

.overlay-right {
    right: 0;
    transform: translateX(0);
    max-width:100%;
    max-height:100%;
}

.update-card img{
    position: relative;
    width: 140%;
    height: 120%;
}

.container.right-panel-active .overlay-right {
    transform: translateX(20%);
}

.social-container {
    margin: 20px 0;
}

.social-container a {
    border: 1px solid #DDDDDD;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
}
.update-card .err-3 {
    color: red;
    font-size: 1.5rem;
}

.update-card .signup-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 73.9%;
}
/*.left-container {*/
/*    margin-left: 20%;*/
/*    background: rgba(0, 0, 0, 0.37);*/
/*    !*margin-left: 25%;*!*/
/*    !*background: rgba(98, 91, 91, 0.5);*!*/
/*    overflow: hidden;*/
/*    !*padding: 40px 0 0 0;*!*/
/*    !*padding: 5% 10%;*!*/
/*    !*position: relative;*!*/
/*    text-align: center;*/
/*    !*height: 80vh;*!*/
/*    !*width: 40%;*!*/
/*    width: 20%;*/
/*}*/

/*.left-container h1:nth-of-type(1) {*/
/*    color: rgba(0, 0, 0, 0.8);*/
/*    font-size: 28px;*/
/*    font-weight: 600;*/
/*    display: inline-block;*/
/*}*/

/*.left-container i {*/
/*    color: rgba(0, 0, 0, 0.8);*/
/*    font-size: 30px;*/
/*    !*padding-right: 15px;*!*/
/*    !*padding-left: 10px;*!*/
/*    !*padding-bottom: -10px;*!*/
/*    margin-right: 10px;*/
/*    transform: rotate(-45deg);*/
/*}*/
/*!*.top-left-box {*!*/
/*!*    justify-content: center;*!*/
/*!*    display: inline-block;*!*/
/*!*}*!*/

/*!*.top-left-box h1 {*!*/
/*!*    !*margin: 0;*!*!*/
/*!*    !*font-size: 35px;*!*!*/
/*!*}*!*/

/*!*.top-left-box i {*!*/
/*!*    padding-top: 1%;*!*/

/*!*}*!*/

/*!*.left-container h1 {*!*/
/*!*    color: rgba(0, 0, 0, 0.8);*!*/
/*!*    display: inline-block;*!*/
/*!*    font-size: 24px;*!*/
/*!*}*!*/

/*!*.left-container h1 .fa-solid {*!*/
/*!*    width: 20px;*!*/
/*!*    height: 20px;*!*/
/*!*    background: #abc6f7;*!*/
/*!*    border-radius: 50%;*!*/
/*!*    color: #807182;*!*/
/*!*    font-size: 24px;*!*/
/*!*    margin-right: 5px;*!*/
/*!*    padding: 10px;*!*/
/*!*    transform: rotate(-45deg);*!*/
/*!*}*!*/

/*!*.left-container .puppy {*!*/
/*!*    bottom: -5px;*!*/
/*!*    position: absolute;*!*/
/*!*    text-align: center;*!*/
/*!*}*!*/
/*!*.left-container .puppy:before {*!*/
/*!*    background: #807182;*!*/
/*!*    content: "";*!*/
/*!*    height: 100%;*!*/
/*!*    left: 0;*!*/
/*!*    opacity: 0.4;*!*/
/*!*    position: absolute;*!*/
/*!*    width: 100%;*!*/
/*!*    z-index: 1;*!*/
/*!*}*!*/
/*!*.left-container img {*!*/
/*!*    filter: sepia(100%);*!*/
/*!*    width: 70%;*!*/
/*!*}*!*/

/*.right-container {*/

/*    !*display: flex;*!*/
/*    !*padding: 5% 10%;*!*/
/*    !*!*margin: 0 2% 0 0;*!*!*/
/*    !*width: 40%;*!*/

/*    background: rgba(105, 224, 224, 0.75);*/
/*    !*margin-right: 2%;*!*/
/*    !*background: rgba(98, 91, 91, 0.5);*!*/
/*    overflow: hidden;*/
/*    !*padding-left: 50px;*!*/
/*    !*padding-right: 10px;*!*/
/*    !*padding: 40px 0 0 0;*!*/
/*    !*padding: 5% 10%;*!*/
/*    !*position: relative;*!*/
/*    !*text-align: center;*!*/
/*    !*height: 80vh;*!*/
/*    !*width: 100%;*!*/
/*    width: 35%;*/

/*}*/
/*.right-container input {*/
/*    border: 1px solid rgba(0, 0, 0, 0.1);*/
/*    border-radius: 4px;*/
/*    height: 2.4em;*/
/*    line-height: 38px;*/
/*    padding-left: 5px;*/
/*    !*margin-left: 10px;*!*/
/*}*/
/*.right-container h1 {*/
/*    text-align: center;*/
/*    margin-bottom: 0;*/
/*}*/
/*.right-container label {*/
/*    font-size: 12px;*/
/*    background-color: transparent;*/
/*    color: white;*/
/*    !*width: 100px;*!*/
/*    !*height: 10px;*!*/
/*    z-index: 1;*/
/*    !*display: flex;*!*/
/*}*/

/*.right-container input, .right-container label {*/
/*    color: rgba(0, 0, 0, 0.8);*/
/*}*/

/*.right-container label, .right-container input, .right-container .user-avatar {*/
/*    width: 200px;*/
/*}*/

/*.user-username label, .user-avatar label, .user-number label, .user-first-name label, .user-last-name label, .user-email label, .user-password label, .user-password2 label*/
/*{*/
/*    font-size: 1.3em;*/
/*    display: block;*/
/*    margin-bottom: 3%;*/
/*}*/
/*.right-container .title-2 {*/
/*    margin: 1.2%;*/
/*}*/
/*.right-container h1:nth-of-type(1) {*/
/*    color: rgba(0, 0, 0, 0.8);*/
/*    font-size: 28px;*/
/*    font-weight: 600;*/
/*}*/
/*.right-container .register-form {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    margin: 2.2em 2.2em;*/
/*}*/

/*.right-container .user-avatar {*/
/*    align-items: center;*/
/*    display: grid;*/
/*    grid-template-areas: ". .";*/
/*}*/
/*.right-container .user-avatar button {*/
/*    border: none;*/
/*    border-radius: 50%;*/
/*    height: 38px;*/
/*    margin-right: 10px;*/
/*    outline: none;*/
/*    width: 38px;*/
/*}*/
/*.right-container .user-avatar button i {*/
/*    color: rgba(0, 0, 0, 0.8);*/
/*    font-size: 16px;*/
/*}*/
/*.right-container .register-btn {*/
/*    align-items: center;*/
/*    !*background: #fff;*!*/
/*    display: grid;*/
/*    justify-content: center;*/
/*    padding: 5px 40px;*/
/*}*/
/*.right-container .register-btn button {*/
/*        border: 1px solid rgba(0, 0, 0, 0.2);*/
/*        height: 38px;*/
/*        line-height: 38px;*/
/*        width: 100px;*/
/*        border-radius: 19px;*/
/*        font-family: 'Montserrat', sans-serif;*/
/*}*/

/*.right-container input {*/
/*    border: 1px solid rgba(0, 0, 0, 0.1);*/
/*    border-radius: 4px;*/
/*    height: 38px;*/
/*    line-height: 38px;*/
/*    padding-left: 5px;*/
/*}*/
/*.right-container input, .right-container label {*/
/*    color: rgba(0, 0, 0, 0.8);*/
/*}*/

/*.right-container header {*/
/*    padding: 40px;*/
/*}*/

/*.right-container label, .right-container input, .right-container .pets-photo {*/
/*    width: 176px;*/
/*}*/


/*.right-container .pets-photo {*/
/*    align-items: center;*/
/*    display: grid;*/
/*    grid-template-areas: ". .";*/
/*}*/
/*.right-container .pets-photo button {*/
/*    border: none;*/
/*    border-radius: 50%;*/
/*    height: 38px;*/
/*    margin-right: 10px;*/
/*    outline: none;*/
/*    width: 38px;*/
/*}*/
/*.right-container .pets-photo button i {*/
/*    color: rgba(0, 0, 0, 0.8);*/
/*    font-size: 16px;*/
/*}*/
/*.right-container .pets-weight .radio-container {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    width: 100%;*/
/*}*/


/*.right-container footer {*/
/*    align-items: center;*/
/*    background: #fff;*/
/*    display: grid;*/
/*    padding: 5px 40px;*/
/*}*/
/*.right-container footer button {*/
/*    border: 1px solid rgba(0, 0, 0, 0.2);*/
/*    height: 38px;*/
/*    line-height: 38px;*/
/*    width: 100px;*/
/*    border-radius: 19px;*/
/*    font-family: 'Montserrat', sans-serif;*/
/*}*/
/*.right-container footer #back {*/
/*    background: #fff;*/
/*    transition: 0.2s all ease-in-out;*/
/*}*/
/*.right-container footer #back:hover {*/
/*    background: #171A2B;*/
/*    color: white;*/
/*}*/
/*.right-container footer #next {*/
/*    background: #807182;*/
/*    border: 1px solid transparent;*/
/*    color: #fff;*/
/*}*/
/*.right-container footer #next:hover {*/
/*    background: #171A2B;*/
/*}*/
/*.pets-name label, .pets-breed label, .pets-birthday label, .pets-gender label, .pets-spayed-neutered label, .pets-weight label {*/
/*    display: block;*/
/*    margin-bottom: 5px;*/
/*}*/


/*.radio-container {*/
/*    background: #fff;*/
/*    border: 1px solid rgba(0, 0, 0, 0.1);*/
/*    border-radius: 4px;*/
/*    display: inline-block;*/
/*    padding: 5px;*/
/*}*/
/*.radio-container label {*/
/*    background: transparent;*/
/*    border: 1px solid transparent;*/
/*    border-radius: 2px;*/
/*    display: inline-block;*/
/*    height: 26px;*/
/*    line-height: 26px;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    text-align: center;*/
/*    transition: 0.2s all ease-in-out;*/
/*    width: 80px;*/
/*}*/
/*.radio-container input[type="radio"] {*/
/*    display: none;*/
/*}*/
/*.radio-container input[type="radio"]:checked + label {*/
/*    background: #F7B1AB;*/
/*    border: 1px solid rgba(0, 0, 0, 0.1);*/
/*}*/